<form fxLayout="column" [formGroup]="group">
    <h2>Ingreso de Usuario</h2>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput 
        required
        placeholder="Ingrese su usuario"
        formControlName="text">
        <mat-icon matSuffix>usuario</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="{{togglePassword ? 'password': 'text'}}" 
        matInput 
        required
        placeholder="Ingrese su Contraseña"
        formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="togglePassword=!togglePassword">
            <mat-icon matSuffix>{{togglePassword ? 'lock': 'lock_open'}}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="ingresar"
    (click)="login()">
        Iniciar Sesion
    </button>
</form>
