<mat-sidenav-container autosize="true">
    <mat-sidenav opened="true"
    mode="side">
    <div class="logo" fxLayout fxLayoutGap="20px"
    fxLayoutAlign="start center">
        <mat-icon>
            production_quantity_limits
            </mat-icon>
        <h3 *ngIf="expanded">Gestion de Produccion</h3>
    </div>
        <cpf-menu (onToggleExpanded)="toggleExpanded($event)"></cpf-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <cpf-header></cpf-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
